
#----------------------YouGotMailino/YouGotMailino
YouGotMailino/YouGotMailino/*.rsuser
YouGotMailino/YouGotMailino/*.suo
YouGotMailino/YouGotMailino/*.user
YouGotMailino/YouGotMailino/*.userosscache
YouGotMailino/YouGotMailino/*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
YouGotMailino/YouGotMailino/*.userprefs


YouGotMailino/YouGotMailino/*.rsuser
YouGotMailino/YouGotMailino/*.suo
YouGotMailino/YouGotMailino/*.user
YouGotMailino/YouGotMailino/*.userosscache
YouGotMailino/YouGotMailino/*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
YouGotMailino/YouGotMailino/*.userprefs

# Build results
YouGotMailino/YouGotMailino/[Dd]ebug/
YouGotMailino/YouGotMailino/[Dd]ebugPublic/
YouGotMailino/YouGotMailino/[Rr]elease/
YouGotMailino/YouGotMailino/[Rr]eleases/
YouGotMailino/YouGotMailino/x64/
YouGotMailino/YouGotMailino/x86/
YouGotMailino/YouGotMailino/[Ww][Ii][Nn]32/
YouGotMailino/YouGotMailino/[Aa][Rr][Mm]/
YouGotMailino/YouGotMailino/[Aa][Rr][Mm]64/
YouGotMailino/YouGotMailino/bld/
YouGotMailino/YouGotMailino/[Bb]in/
YouGotMailino/YouGotMailino/[Oo]bj/
YouGotMailino/YouGotMailino/[Ll]og/
YouGotMailino/YouGotMailino/[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
YouGotMailino/YouGotMailino/.vs/

# Files built by Visual Studio
YouGotMailino/YouGotMailino/*_i.c
YouGotMailino/YouGotMailino/*_p.c
YouGotMailino/YouGotMailino/*_h.h
YouGotMailino/YouGotMailino/*.ilk
YouGotMailino/YouGotMailino/*.meta
YouGotMailino/YouGotMailino/*.obj
YouGotMailino/YouGotMailino/*.iobj
YouGotMailino/YouGotMailino/*.pch
YouGotMailino/YouGotMailino/*.pdb
YouGotMailino/YouGotMailino/*.ipdb
YouGotMailino/YouGotMailino/*.pgc
YouGotMailino/YouGotMailino/*.pgd
YouGotMailino/YouGotMailino/*.rsp
YouGotMailino/YouGotMailino/*.sbr
YouGotMailino/YouGotMailino/*.tlb
YouGotMailino/YouGotMailino/*.tli
YouGotMailino/YouGotMailino/*.tlh
YouGotMailino/YouGotMailino/*.tmp
YouGotMailino/YouGotMailino/*.tmp_proj
YouGotMailino/YouGotMailino/*_wpftmp.csproj
YouGotMailino/YouGotMailino/*.log
YouGotMailino/YouGotMailino/*.vspscc
YouGotMailino/YouGotMailino/*.vssscc
YouGotMailino/YouGotMailino/.builds
YouGotMailino/YouGotMailino/*.pidb
YouGotMailino/YouGotMailino/*.svclog
YouGotMailino/YouGotMailino/*.scc

# Visual C++ cache files
YouGotMailino/YouGotMailino/ipch/
YouGotMailino/YouGotMailino/*.aps
YouGotMailino/YouGotMailino/*.ncb
YouGotMailino/YouGotMailino/*.opendb
YouGotMailino/YouGotMailino/*.opensdf
YouGotMailino/YouGotMailino/*.sdf
YouGotMailino/YouGotMailino/*.cachefile
YouGotMailino/YouGotMailino/*.VC.db
YouGotMailino/YouGotMailino/*.VC.VC.opendb


 Visual Studio code coverage results
YouGotMailino/YouGotMailino/*.coverage
YouGotMailino/YouGotMailino/*.coveragexml

# Prerequisites
YouGotMailino/YouGotMailino/*.d

# Compiled Object files
YouGotMailino/YouGotMailino/.slo
YouGotMailino/YouGotMailino/*.lo
YouGotMailino/YouGotMailino/*.o
YouGotMailino/YouGotMailino/*.obj

# Precompiled Headers
YouGotMailino/YouGotMailino/*.gch
YouGotMailino/YouGotMailino/*.pch

# Compiled Dynamic libraries
YouGotMailino/YouGotMailino/*.so
YouGotMailino/YouGotMailino/*.dylib
YouGotMailino/YouGotMailino/*.dll

# Fortran module files
YouGotMailino/YouGotMailino/*.mod
YouGotMailino/YouGotMailino/*.smod

# Compiled Static libraries
YouGotMailino/YouGotMailino/*.lai
YouGotMailino/YouGotMailino/*.la
YouGotMailino/YouGotMailino/*.a
YouGotMailino/YouGotMailino/*.lib

# Executables
YouGotMailino/YouGotMailino/*.exe
YouGotMailino/YouGotMailino/*.out
YouGotMailino/YouGotMailino/*.app

#----------------------BlueToothino_A/BlueToothino_A

BlueToothino_A/BlueToothino_A/*.rsuser
BlueToothino_A/BlueToothino_A/*.suo
BlueToothino_A/BlueToothino_A/*.user
BlueToothino_A/BlueToothino_A/*.userosscache
BlueToothino_A/BlueToothino_A/*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
BlueToothino_A/BlueToothino_A/*.userprefs


BlueToothino_A/BlueToothino_A/*.rsuser
BlueToothino_A/BlueToothino_A/*.suo
BlueToothino_A/BlueToothino_A/*.user
BlueToothino_A/BlueToothino_A/*.userosscache
BlueToothino_A/BlueToothino_A/*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
BlueToothino_A/BlueToothino_A/*.userprefs

# Build results
BlueToothino_A/BlueToothino_A/[Dd]ebug/
BlueToothino_A/BlueToothino_A/[Dd]ebugPublic/
BlueToothino_A/BlueToothino_A/[Rr]elease/
BlueToothino_A/BlueToothino_A/[Rr]eleases/
BlueToothino_A/BlueToothino_A/x64/
BlueToothino_A/BlueToothino_A/x86/
BlueToothino_A/BlueToothino_A/[Ww][Ii][Nn]32/
BlueToothino_A/BlueToothino_A/[Aa][Rr][Mm]/
BlueToothino_A/BlueToothino_A/[Aa][Rr][Mm]64/
BlueToothino_A/BlueToothino_A/bld/
BlueToothino_A/BlueToothino_A/[Bb]in/
BlueToothino_A/BlueToothino_A/[Oo]bj/
BlueToothino_A/BlueToothino_A/[Ll]og/
BlueToothino_A/BlueToothino_A/[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
BlueToothino_A/BlueToothino_A/.vs/

# Files built by Visual Studio
BlueToothino_A/BlueToothino_A/*_i.c
BlueToothino_A/BlueToothino_A/*_p.c
BlueToothino_A/BlueToothino_A/*_h.h
BlueToothino_A/BlueToothino_A/*.ilk
BlueToothino_A/BlueToothino_A/*.meta
BlueToothino_A/BlueToothino_A/*.obj
BlueToothino_A/BlueToothino_A/*.iobj
BlueToothino_A/BlueToothino_A/*.pch
BlueToothino_A/BlueToothino_A/*.pdb
BlueToothino_A/BlueToothino_A/*.ipdb
BlueToothino_A/BlueToothino_A/*.pgc
BlueToothino_A/BlueToothino_A/*.pgd
BlueToothino_A/BlueToothino_A/*.rsp
BlueToothino_A/BlueToothino_A/*.sbr
BlueToothino_A/BlueToothino_A/*.tlb
BlueToothino_A/BlueToothino_A/*.tli
BlueToothino_A/BlueToothino_A/*.tlh
BlueToothino_A/BlueToothino_A/*.tmp
BlueToothino_A/BlueToothino_A/*.tmp_proj
BlueToothino_A/BlueToothino_A/*_wpftmp.csproj
BlueToothino_A/BlueToothino_A/*.log
BlueToothino_A/BlueToothino_A/*.vspscc
BlueToothino_A/BlueToothino_A/*.vssscc
BlueToothino_A/BlueToothino_A/.builds
BlueToothino_A/BlueToothino_A/*.pidb
BlueToothino_A/BlueToothino_A/*.svclog
BlueToothino_A/BlueToothino_A/*.scc

# Visual C++ cache files
BlueToothino_A/BlueToothino_A/ipch/
BlueToothino_A/BlueToothino_A/*.aps
BlueToothino_A/BlueToothino_A/*.ncb
BlueToothino_A/BlueToothino_A/*.opendb
BlueToothino_A/BlueToothino_A/*.opensdf
BlueToothino_A/BlueToothino_A/*.sdf
BlueToothino_A/BlueToothino_A/*.cachefile
BlueToothino_A/BlueToothino_A/*.VC.db
BlueToothino_A/BlueToothino_A/*.VC.VC.opendb


 Visual Studio code coverage results
BlueToothino_A/BlueToothino_A/*.coverage
BlueToothino_A/BlueToothino_A/*.coveragexml

# Prerequisites
BlueToothino_A/BlueToothino_A/*.d

# Compiled Object files
BlueToothino_A/BlueToothino_A/.slo
BlueToothino_A/BlueToothino_A/*.lo
BlueToothino_A/BlueToothino_A/*.o
BlueToothino_A/BlueToothino_A/*.obj

# Precompiled Headers
BlueToothino_A/BlueToothino_A/*.gch
BlueToothino_A/BlueToothino_A/*.pch

# Compiled Dynamic libraries
BlueToothino_A/BlueToothino_A/*.so
BlueToothino_A/BlueToothino_A/*.dylib
BlueToothino_A/BlueToothino_A/*.dll

# Fortran module files
BlueToothino_A/BlueToothino_A/*.mod
BlueToothino_A/BlueToothino_A/*.smod

# Compiled Static libraries
BlueToothino_A/BlueToothino_A/*.lai
BlueToothino_A/BlueToothino_A/*.la
BlueToothino_A/BlueToothino_A/*.a
BlueToothino_A/BlueToothino_A/*.lib

# Executables
BlueToothino_A/BlueToothino_A/*.exe
BlueToothino_A/BlueToothino_A/*.out
BlueToothino_A/BlueToothino_A/*.app

#---------------------- BlueToothino_B/BlueToothino_B

 BlueToothino_B/BlueToothino_B/*.rsuser
 BlueToothino_B/BlueToothino_B/*.suo
 BlueToothino_B/BlueToothino_B/*.user
 BlueToothino_B/BlueToothino_B/*.userosscache
 BlueToothino_B/BlueToothino_B/*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
 BlueToothino_B/BlueToothino_B/*.userprefs


 BlueToothino_B/BlueToothino_B/*.rsuser
 BlueToothino_B/BlueToothino_B/*.suo
 BlueToothino_B/BlueToothino_B/*.user
 BlueToothino_B/BlueToothino_B/*.userosscache
 BlueToothino_B/BlueToothino_B/*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
 BlueToothino_B/BlueToothino_B/*.userprefs

# Build results
 BlueToothino_B/BlueToothino_B/[Dd]ebug/
 BlueToothino_B/BlueToothino_B/[Dd]ebugPublic/
 BlueToothino_B/BlueToothino_B/[Rr]elease/
 BlueToothino_B/BlueToothino_B/[Rr]eleases/
 BlueToothino_B/BlueToothino_B/x64/
 BlueToothino_B/BlueToothino_B/x86/
 BlueToothino_B/BlueToothino_B/[Ww][Ii][Nn]32/
 BlueToothino_B/BlueToothino_B/[Aa][Rr][Mm]/
 BlueToothino_B/BlueToothino_B/[Aa][Rr][Mm]64/
 BlueToothino_B/BlueToothino_B/bld/
 BlueToothino_B/BlueToothino_B/[Bb]in/
 BlueToothino_B/BlueToothino_B/[Oo]bj/
 BlueToothino_B/BlueToothino_B/[Ll]og/
 BlueToothino_B/BlueToothino_B/[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
 BlueToothino_B/BlueToothino_B/.vs/

# Files built by Visual Studio
 BlueToothino_B/BlueToothino_B/*_i.c
 BlueToothino_B/BlueToothino_B/*_p.c
 BlueToothino_B/BlueToothino_B/*_h.h
 BlueToothino_B/BlueToothino_B/*.ilk
 BlueToothino_B/BlueToothino_B/*.meta
 BlueToothino_B/BlueToothino_B/*.obj
 BlueToothino_B/BlueToothino_B/*.iobj
 BlueToothino_B/BlueToothino_B/*.pch
 BlueToothino_B/BlueToothino_B/*.pdb
 BlueToothino_B/BlueToothino_B/*.ipdb
 BlueToothino_B/BlueToothino_B/*.pgc
 BlueToothino_B/BlueToothino_B/*.pgd
 BlueToothino_B/BlueToothino_B/*.rsp
 BlueToothino_B/BlueToothino_B/*.sbr
 BlueToothino_B/BlueToothino_B/*.tlb
 BlueToothino_B/BlueToothino_B/*.tli
 BlueToothino_B/BlueToothino_B/*.tlh
 BlueToothino_B/BlueToothino_B/*.tmp
 BlueToothino_B/BlueToothino_B/*.tmp_proj
 BlueToothino_B/BlueToothino_B/*_wpftmp.csproj
 BlueToothino_B/BlueToothino_B/*.log
 BlueToothino_B/BlueToothino_B/*.vspscc
 BlueToothino_B/BlueToothino_B/*.vssscc
 BlueToothino_B/BlueToothino_B/.builds
 BlueToothino_B/BlueToothino_B/*.pidb
 BlueToothino_B/BlueToothino_B/*.svclog
 BlueToothino_B/BlueToothino_B/*.scc

# Visual C++ cache files
 BlueToothino_B/BlueToothino_B/ipch/
 BlueToothino_B/BlueToothino_B/*.aps
 BlueToothino_B/BlueToothino_B/*.ncb
 BlueToothino_B/BlueToothino_B/*.opendb
 BlueToothino_B/BlueToothino_B/*.opensdf
 BlueToothino_B/BlueToothino_B/*.sdf
 BlueToothino_B/BlueToothino_B/*.cachefile
 BlueToothino_B/BlueToothino_B/*.VC.db
 BlueToothino_B/BlueToothino_B/*.VC.VC.opendb


 Visual Studio code coverage results
 BlueToothino_B/BlueToothino_B/*.coverage
 BlueToothino_B/BlueToothino_B/*.coveragexml

# Prerequisites
 BlueToothino_B/BlueToothino_B/*.d

# Compiled Object files
 BlueToothino_B/BlueToothino_B/.slo
 BlueToothino_B/BlueToothino_B/*.lo
 BlueToothino_B/BlueToothino_B/*.o
 BlueToothino_B/BlueToothino_B/*.obj

# Precompiled Headers
 BlueToothino_B/BlueToothino_B/*.gch
 BlueToothino_B/BlueToothino_B/*.pch

# Compiled Dynamic libraries
 BlueToothino_B/BlueToothino_B/*.so
 BlueToothino_B/BlueToothino_B/*.dylib
 BlueToothino_B/BlueToothino_B/*.dll

# Fortran module files
 BlueToothino_B/BlueToothino_B/*.mod
 BlueToothino_B/BlueToothino_B/*.smod

# Compiled Static libraries
 BlueToothino_B/BlueToothino_B/*.lai
 BlueToothino_B/BlueToothino_B/*.la
 BlueToothino_B/BlueToothino_B/*.a
 BlueToothino_B/BlueToothino_B/*.lib

# Executables
 BlueToothino_B/BlueToothino_B/*.exe
 BlueToothino_B/BlueToothino_B/*.out
 BlueToothino_B/BlueToothino_B/*.app

#----------------------MicroOLED/MicroOled/MicroOled
MicroOLED/MicroOled/MicroOled/*.rsuser
MicroOLED/MicroOled/MicroOled/*.suo
MicroOLED/MicroOled/MicroOled/*.user
MicroOLED/MicroOled/MicroOled/*.userosscache
MicroOLED/MicroOled/MicroOled/*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
MicroOLED/MicroOled/MicroOled/*.userprefs


MicroOLED/MicroOled/MicroOled/*.rsuser
MicroOLED/MicroOled/MicroOled/*.suo
MicroOLED/MicroOled/MicroOled/*.user
MicroOLED/MicroOled/MicroOled/*.userosscache
MicroOLED/MicroOled/MicroOled/*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
MicroOLED/MicroOled/MicroOled/*.userprefs

# Build results
MicroOLED/MicroOled/MicroOled/[Dd]ebug/
MicroOLED/MicroOled/MicroOled/[Dd]ebugPublic/
MicroOLED/MicroOled/MicroOled/[Rr]elease/
MicroOLED/MicroOled/MicroOled/[Rr]eleases/
MicroOLED/MicroOled/MicroOled/x64/
MicroOLED/MicroOled/MicroOled/x86/
MicroOLED/MicroOled/MicroOled/[Ww][Ii][Nn]32/
MicroOLED/MicroOled/MicroOled/[Aa][Rr][Mm]/
MicroOLED/MicroOled/MicroOled/[Aa][Rr][Mm]64/
MicroOLED/MicroOled/MicroOled/bld/
MicroOLED/MicroOled/MicroOled/[Bb]in/
MicroOLED/MicroOled/MicroOled/[Oo]bj/
MicroOLED/MicroOled/MicroOled/[Ll]og/
MicroOLED/MicroOled/MicroOled/[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
MicroOLED/MicroOled/MicroOled/.vs/

# Files built by Visual Studio
MicroOLED/MicroOled/MicroOled/*_i.c
MicroOLED/MicroOled/MicroOled/*_p.c
MicroOLED/MicroOled/MicroOled/*_h.h
MicroOLED/MicroOled/MicroOled/*.ilk
MicroOLED/MicroOled/MicroOled/*.meta
MicroOLED/MicroOled/MicroOled/*.obj
MicroOLED/MicroOled/MicroOled/*.iobj
MicroOLED/MicroOled/MicroOled/*.pch
MicroOLED/MicroOled/MicroOled/*.pdb
MicroOLED/MicroOled/MicroOled/*.ipdb
MicroOLED/MicroOled/MicroOled/*.pgc
MicroOLED/MicroOled/MicroOled/*.pgd
MicroOLED/MicroOled/MicroOled/*.rsp
MicroOLED/MicroOled/MicroOled/*.sbr
MicroOLED/MicroOled/MicroOled/*.tlb
MicroOLED/MicroOled/MicroOled/*.tli
MicroOLED/MicroOled/MicroOled/*.tlh
MicroOLED/MicroOled/MicroOled/*.tmp
MicroOLED/MicroOled/MicroOled/*.tmp_proj
MicroOLED/MicroOled/MicroOled/*_wpftmp.csproj
MicroOLED/MicroOled/MicroOled/*.log
MicroOLED/MicroOled/MicroOled/*.vspscc
MicroOLED/MicroOled/MicroOled/*.vssscc
MicroOLED/MicroOled/MicroOled/.builds
MicroOLED/MicroOled/MicroOled/*.pidb
MicroOLED/MicroOled/MicroOled/*.svclog
MicroOLED/MicroOled/MicroOled/*.scc

# Visual C++ cache files
MicroOLED/MicroOled/MicroOled/ipch/
MicroOLED/MicroOled/MicroOled/*.aps
MicroOLED/MicroOled/MicroOled/*.ncb
MicroOLED/MicroOled/MicroOled/*.opendb
MicroOLED/MicroOled/MicroOled/*.opensdf
MicroOLED/MicroOled/MicroOled/*.sdf
MicroOLED/MicroOled/MicroOled/*.cachefile
MicroOLED/MicroOled/MicroOled/*.VC.db
MicroOLED/MicroOled/MicroOled/*.VC.VC.opendb


 Visual Studio code coverage results
MicroOLED/MicroOled/MicroOled/*.coverage
MicroOLED/MicroOled/MicroOled/*.coveragexml

# Prerequisites
MicroOLED/MicroOled/MicroOled/*.d

# Compiled Object files
MicroOLED/MicroOled/MicroOled/.slo
MicroOLED/MicroOled/MicroOled/*.lo
MicroOLED/MicroOled/MicroOled/*.o
MicroOLED/MicroOled/MicroOled/*.obj

# Precompiled Headers
MicroOLED/MicroOled/MicroOled/*.gch
MicroOLED/MicroOled/MicroOled/*.pch

# Compiled Dynamic libraries
MicroOLED/MicroOled/MicroOled/*.so
MicroOLED/MicroOled/MicroOled/*.dylib
MicroOLED/MicroOled/MicroOled/*.dll

# Fortran module files
MicroOLED/MicroOled/MicroOled/*.mod
MicroOLED/MicroOled/MicroOled/*.smod

# Compiled Static libraries
MicroOLED/MicroOled/MicroOled/*.lai
MicroOLED/MicroOled/MicroOled/*.la
MicroOLED/MicroOled/MicroOled/*.a
MicroOLED/MicroOled/MicroOled/*.lib

# Executables
MicroOLED/MicroOled/MicroOled/*.exe
MicroOLED/MicroOled/MicroOled/*.out
MicroOLED/MicroOled/MicroOled/*.app


#----------------------CsharpOledHelper/
CsharpOledHelper/OledHelperTool/*.rsuser
CsharpOledHelper/OledHelperTool/*.suo
CsharpOledHelper/OledHelperTool/*.user
CsharpOledHelper/OledHelperTool/*.userosscache
CsharpOledHelper/OledHelperTool/*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
CsharpOledHelper/OledHelperTool/*.userprefs


CsharpOledHelper/OledHelperTool/*.rsuser
CsharpOledHelper/OledHelperTool/*.suo
CsharpOledHelper/OledHelperTool/*.user
CsharpOledHelper/OledHelperTool/*.userosscache
CsharpOledHelper/OledHelperTool/*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
CsharpOledHelper/OledHelperTool/*.userprefs

# Build results
CsharpOledHelper/OledHelperTool/[Dd]ebug/
CsharpOledHelper/OledHelperTool/[Dd]ebugPublic/
CsharpOledHelper/OledHelperTool/[Rr]elease/
CsharpOledHelper/OledHelperTool/[Rr]eleases/
CsharpOledHelper/OledHelperTool/x64/
CsharpOledHelper/OledHelperTool/x86/
CsharpOledHelper/OledHelperTool/[Ww][Ii][Nn]32/
CsharpOledHelper/OledHelperTool/[Aa][Rr][Mm]/
CsharpOledHelper/OledHelperTool/[Aa][Rr][Mm]64/
CsharpOledHelper/OledHelperTool/bld/
CsharpOledHelper/OledHelperTool/[Bb]in/
CsharpOledHelper/OledHelperTool/[Oo]bj/
CsharpOledHelper/OledHelperTool/[Ll]og/
CsharpOledHelper/OledHelperTool/[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
CsharpOledHelper/OledHelperTool/.vs/

# Files built by Visual Studio
CsharpOledHelper/OledHelperTool/*_i.c
CsharpOledHelper/OledHelperTool/*_p.c
CsharpOledHelper/OledHelperTool/*_h.h
CsharpOledHelper/OledHelperTool/*.ilk
CsharpOledHelper/OledHelperTool/*.meta
CsharpOledHelper/OledHelperTool/*.obj
CsharpOledHelper/OledHelperTool/*.iobj
CsharpOledHelper/OledHelperTool/*.pch
CsharpOledHelper/OledHelperTool/*.pdb
CsharpOledHelper/OledHelperTool/*.ipdb
CsharpOledHelper/OledHelperTool/*.pgc
CsharpOledHelper/OledHelperTool/*.pgd
CsharpOledHelper/OledHelperTool/*.rsp
CsharpOledHelper/OledHelperTool/*.sbr
CsharpOledHelper/OledHelperTool/*.tlb
CsharpOledHelper/OledHelperTool/*.tli
CsharpOledHelper/OledHelperTool/*.tlh
CsharpOledHelper/OledHelperTool/*.tmp
CsharpOledHelper/OledHelperTool/*.tmp_proj
CsharpOledHelper/OledHelperTool/*_wpftmp.csproj
CsharpOledHelper/OledHelperTool/*.log
CsharpOledHelper/OledHelperTool/*.vspscc
CsharpOledHelper/OledHelperTool/*.vssscc
CsharpOledHelper/OledHelperTool/.builds
CsharpOledHelper/OledHelperTool/*.pidb
CsharpOledHelper/OledHelperTool/*.svclog
CsharpOledHelper/OledHelperTool/*.scc

# Visual C++ cache files
CsharpOledHelper/OledHelperTool/ipch/
CsharpOledHelper/OledHelperTool/*.aps
CsharpOledHelper/OledHelperTool/*.ncb
CsharpOledHelper/OledHelperTool/*.opendb
CsharpOledHelper/OledHelperTool/*.opensdf
CsharpOledHelper/OledHelperTool/*.sdf
CsharpOledHelper/OledHelperTool/*.cachefile
CsharpOledHelper/OledHelperTool/*.VC.db
CsharpOledHelper/OledHelperTool/*.VC.VC.opendb


 Visual Studio code coverage results
CsharpOledHelper/OledHelperTool/*.coverage
CsharpOledHelper/OledHelperTool/*.coveragexml

# Prerequisites
CsharpOledHelper/OledHelperTool/*.d

# Compiled Object files
CsharpOledHelper/OledHelperTool/.slo
CsharpOledHelper/OledHelperTool/*.lo
CsharpOledHelper/OledHelperTool/*.o
CsharpOledHelper/OledHelperTool/*.obj

# Precompiled Headers
CsharpOledHelper/OledHelperTool/*.gch
CsharpOledHelper/OledHelperTool/*.pch

# Compiled Dynamic libraries
CsharpOledHelper/OledHelperTool/*.so
CsharpOledHelper/OledHelperTool/*.dylib
CsharpOledHelper/OledHelperTool/*.dll

# Fortran module files
CsharpOledHelper/OledHelperTool/*.mod
CsharpOledHelper/OledHelperTool/*.smod

# Compiled Static libraries
CsharpOledHelper/OledHelperTool/*.lai
CsharpOledHelper/OledHelperTool/*.la
CsharpOledHelper/OledHelperTool/*.a
CsharpOledHelper/OledHelperTool/*.lib

# Executables
CsharpOledHelper/OledHelperTool/*.exe
CsharpOledHelper/OledHelperTool/*.out
CsharpOledHelper/OledHelperTool/*.app